@model UserEditVM

<div class="panel panel-default">
    <div class="panel-heading">
        Editer un Utilisateur
    </div>

    <div class="panel-body panel-edit">

        <div class="form-horizontal">
            <input type="hidden" name="Id" value="@Model.Id" />

            <div class="form-group">
                <label for="Email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
                <label for="Label" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Roles associes</label>
                <div class="col-sm-10">
                    @Html.Raw(Html.CheckBoxListFor(m => m.Groups))
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-10">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-success"
                                href="@Url.NewsBoardUrlHelper().Action("User", "UserEdit", "Update")"
                                type="button" ns-action-type="simplePostAction">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>