@model FeedVMList


<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Options.Heading
    </div>

    <div class="panel-body" style="padding:0px">
        <table class="table table-striped table-condensed">
            <tbody>
                @for (int i = 0; i < Model.Feeds.Count; i++)
                {
                    <tr feed="@Model.Feeds[i].Id">
                        <td>
                            <a href="@Url.NewsBoardUrlHelper().Action("Feed", "FeedList", "Open", new { feedId = Model.Feeds[i].Id })"
                               ns-action-type="simpleGetAction">
                                <img class="no-deco" style="height:24px;margin-right:3px" src="@Model.Feeds[i].IconUrl" alt="" />@Model.Feeds[i].Title
                            </a>
                            <div class="btn-group pull-right" role="group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                </button>

                                <div ns-loader-url="@Url.NewsBoardUrlHelper().Action("Feed","FeedList","FeedAction", new { feedId = Model.Feeds[i].Id })">
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                @if (Model.Feeds.Count == 0)
                {
                    <tr>
                        <td>@Model.Options.NoDataToDisplay</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>