@model  WebSiteDetails

<div class="panel panel-default">
    <div class="panel-heading">
        Informations du site : @Model.WebSiteTitle
    </div>

    <div class="panel-body panel-edit">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="Label" class="col-sm-2 control-label">Titre de la page</label>
                <div class="col-sm-6">
                    <input type="text" readonly="readonly" class="form-control" id="Label" name="Label" value="@Model.PageTitle" placeholder="Label">
                </div>
            </div>

            <div class="form-group">
                <label for="Label" class="col-sm-2 control-label">Titre du site</label>
                <div class="col-sm-6">
                    <input type="text" readonly="readonly" class="form-control" id="Label" name="Label" value="@Model.WebSiteTitle" placeholder="Label">
                </div>
            </div>

            <div class="form-group">
                <label for="Label" class="col-sm-2 control-label">Adresse du site</label>
                <div class="col-sm-6">
                    <input type="text" readonly="readonly" class="form-control" id="Label" name="Label" value="@Model.WebSiteAdress" placeholder="Label">
                </div>
            </div>

            <div class="form-group">
                <label for="Key" class="col-sm-2 control-label">Icone</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" readonly="readonly" class="form-control" id="Label" name="Label" value="@Model.IconUrl" placeholder="Label">
                        <span class="input-group-addon" alt="website icon" style="background-image: url(@Model.IconUrl); background-size: contain; background-repeat-x: no-repeat; background-repeat-y: no-repeat; background-position: center;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div ns-loader-url="@Url.Action("SyndicationContent", new { feedUrl=Model.SyndicationAdress})">
    Chargement du widget ...
    <div class='loader'></div>
</div>