@model  DiscoverWebSiteApi.Syndication.SyndicationContent

<div class="panel panel-default">
    <div class="panel-heading">
        Donnees du flux : @Model.Title
    </div>
    <div class="panel-body panel-edit">

        <div class="form-horizontal">
            <div class="form-group">
                <label for="Label" class="col-sm-2 control-label">Url du site lie</label>
                <div class="col-sm-6">
                    <input type="text" readonly="readonly" class="form-control" id="Label" name="Label" value="@Model.WebSiteUrl" placeholder="Label">
                </div>
            </div>

            <div class="form-group">
                <label for="Label" class="col-sm-2 control-label">Url du flux</label>
                <div class="col-sm-6">
                    <input type="text" readonly="readonly" class="form-control" id="Label" name="Label" value="@Model.SyndicationUrl" placeholder="Label">
                </div>
            </div>

            <div class="form-group">
                <label for="Label" class="col-sm-2 control-label">Adresse du site</label>
                <div class="col-sm-6">
                    <input type="text" readonly="readonly" class="form-control" id="Label" name="Label" value="@Model.WebSiteUrl" placeholder="Label">
                </div>
            </div>

            <div class="form-group">
                <label for="Key" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-6">
                    <input type="text" readonly="readonly" class="form-control" id="Label" name="Label" value="@Model.Description" placeholder="Label">
                </div>
            </div>

            <div class="form-group">
                <label for="Key" class="col-sm-2 control-label">Date de mise a jour</label>
                <div class="col-sm-6">
                    <input type="text" readonly="readonly" class="form-control" id="Label" name="Label" value="@Model.PublishDate" placeholder="Label">
                </div>
            </div>

            <div class="panel-body" style="padding:0px">
                <table class="table table-striped table-condensed">
                    <tbody>
                        @for (int i = 0; i < Model.Items.Count; i++)
                        {
                            <tr>
                                <td>@Model.Items[i].Url</td>
                                <td>@Model.Items[i].Title</td>
                                <td>@Model.Items[i].Content</td>
                                <td>@Model.Items[i].PublishDate</td>
                            </tr>
                        }
                </table>
            </div>
        </div>
    </div>
</div>
