@model FeedVMList


<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Options.Heading
    </div>

    <div class="panel-body" style="padding:0px">
        <table class="table table-striped table-condensed">
            <tbody>
                @for (int i = 0; i < Model.Feeds.Count; i++)
                {
                    <tr id="article-@Model.Feeds[i].Id">
                        <td>@Model.Feeds[i].Title</td>

                        <td>
                            <div class="btn-group" role="group">
                                <button class="btn btn-info btn-sm"
                                        ns-action-url="@Url.NewsBoardUrlHelper().Action("Feed", "FeedList", "Open", new {feedId = Model.Feeds[i].Id })"
                                        type="button" ns-action-type="simpleGetAction">
                                    Ouvrir
                                </button>

                                <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                                </button>


                                <ul class="dropdown-menu">
                                    <li is-visible="Model.Feeds[i].IsSubscribed">
                                        <a href="#" ns-action-url="@Url.NewsBoardUrlHelper().Action("Feed", "FeedList", "Unsubscribe", new {feedId = Model.Feeds[i].Id })"
                                           type="button" ns-action-type="simpleGetAction">
                                            Se desabonner
                                        </a>
                                    </li>
                                    <li is-visible="!Model.Feeds[i].IsSubscribed">
                                        <a href="#"
                                           ns-action-url="@Url.NewsBoardUrlHelper().Action("Feed", "FeedDetails", "Subscribe", new {feedId = Model.Feeds[i].Id })"
                                           type="button" ns-action-type="simpleGetAction">
                                            S'abonner
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" ns-action-url="@Url.NewsBoardUrlHelper().Action("Feed", "FeedList", "Report", new {feedId = Model.Feeds[i].Id })"
                                           type="button" ns-action-type="simpleGetAction">
                                            Report
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" ns-action-url="@Url.NewsBoardUrlHelper().Action("Feed", "FeedList", "GetEdit", new {feedId = Model.Feeds[i].Id })"
                                           type="button" ns-action-type="simpleGetAction">
                                            Modifier
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>