@model ArticleVM

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Label
    </div>
    <div class="panel-body">
        Id: @Model.Id<br />
        Title: @Model.<br />
        Description: @Model.Description<br />
        Uri: @Model.Url<br />
        Score: @Model.Score<br />
    </div>
</div>
