@model NewsBoard.wwwroot.Controls.CustomJsonResult.CustomJsonResultModel
<simpleGetAction label="SucessMessage" action="@Url.Action("SucessMessage")" /><br />
<simpleGetAction  label="ErrorMessage" action="@Url.Action("ErrorMessage")" /><br />
<simpleGetAction  label="WarnMessage" action="@Url.Action("WarnMessage")" /><br />
<br />
<simpleGetAction  label="Compose" action="@Url.Action("Compose")" /><br />

<simpleGetAction  label="ReplaceHtml" action="@Url.Action("ReplaceHtml")" /><br />
<div id="replaceDiv">plop</div><br />


<simpleGetAction label="AppendHtml" action="@Url.Action("AppendHtml")" /><br />
<div id="appendDiv">plopAppend</div><br />

<simpleGetAction label="OpenNewWindow" action="@Url.Action("OpenNewWindow")" /><br />
