@model FeedEditVM


<div class="panel panel-default">
    <div class="panel-heading">
        Edition du flux : @Model.Title
    </div>

    <div class="panel-body" style="padding:0px">

        <input type="hidden" name="Id" value="@Model.Id" /><br />
        Description: <input type="text" name="Description" value="@Model.Description" /><br />
        SyndicationUrl: <input type="text" name="SyndicationUrl" value="@Model.SyndicationUrl" /><br />
        Title: <input type="text" name="Title" value="@Model.Title" /><br />
        WebSiteUrl: <input type="text" name="WebSiteUrl" value="@Model.WebSiteUrl" /><br />


        @Model.Tags.Items.Count
        @for (int i = 0; i < Model.Tags.Items.Count; i++)
        {
            var idName = "Tags.Items[" + i + "].Id";
            var isSelectedName = "Tags.Items[" + i + "].IsSelected";

                <input type="hidden" name="@idName" value="@Model.Tags.Items[i].Id" />
                <input type="checkbox" name="@isSelectedName" value="@Model.Tags.Items[i].IsSelected" />
                @Model.Tags.Items[i].Label
                <br />
    }

        <button class="btn btn-info"
                action="@Url.NewsBoardUrlHelper().Action("Feed", "FeedEdit", "Update")"
                actiondata="" type="button" name="simplePostAction">
            Update
        </button>

    </div>
</div>