@model TagVMList


<div class="panel panel-default">
    <div class="panel-heading">
        Les tags
    </div>

    <a href="#" action="@Url.NewsBoardUrlHelper().Action("Tag", "TagList", "GetCreate")"
       actiondata="" type="button" name="simpleGetAction">
        Creer un nouveau tag
    </a>


    <div class="panel-body" style="padding:0px">
        <table class="table table-striped">
            <tbody>
                @for (int i = 0; i < Model.Tags.Count; i++)
                {
                    <tr>
                        <td>@Model.Tags[i].Label</td>
                        <td>@Model.Tags[i].HitCount</td>

                        <td>
                            <div class="btn-group" role="group">
                                <button class="btn btn-info btn-sm"
                                        action="@Url.NewsBoardUrlHelper().Action("Tag", "TagEdit", "Index", new { tagId=Model.Tags[i].Id})"
                                        actiondata="" type="button" name="simpleGetAction">
                                    Editer
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <a href="#" action="@Url.NewsBoardUrlHelper().Action("Tag", "TagList", "GetCreate")"
       actiondata="" type="button" name="simpleGetAction">
        Creer un nouveau tag
    </a>
</div>


