<!DOCTYPE html>
<html>
<head>
    <title>NewsBoard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!--External ressources-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link rel="icon" type="image/png" href="~/favico.ico">

    <!--Our stuff-->
    <link href="~/lib/site.css" rel="stylesheet" />

    <script src="~/lib/toastr/bootstrap-notify.js"></script>
    <script src="~/lib/scripts.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @RenderSection("scripts", required: false)

</head>
<body class="body">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">Accueil</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Articles<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ns-action-type="simpleGetAction" href="@Url.NewsBoardUrlHelper().Action("","Home","GetUserArticles")">Mes articles</a></li>
                            <li><a ns-action-type="simpleGetAction" href="@Url.NewsBoardUrlHelper().Action("","Home","GetArticleSearch")">Les autres articles</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Flux<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ns-action-type="simpleGetAction" href="@Url.NewsBoardUrlHelper().Action("","Home","GetUserFeeds")">Mes Flux</a></li>
                            <li><a ns-action-type="simpleGetAction" href="@Url.NewsBoardUrlHelper().Action("","Home","GetAllFeed")">Tous les flux</a></li>
                            <li><a ns-action-type="simpleGetAction" href="@Url.NewsBoardUrlHelper().Action("","Home","GetAddFeed")">Ajouter un flux</a></li>
                        </ul>
                    </li>

                    <li><a ns-action-type="simpleGetAction" href="@Url.NewsBoardUrlHelper().Action("","Home","GetAboutPage")">A propos de l'auteur</a></li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ns-action-type="simpleGetAction" href="@Url.NewsBoardUrlHelper().Action("","Home","GetTagListPage")">Tags</a></li>
                            <li><a ns-action-type="simpleGetAction" href="@Url.NewsBoardUrlHelper().Action("","Home","GetGroupListPage")">Groupes</a></li>
                            <li><a ns-action-type="simpleGetAction" href="@Url.NewsBoardUrlHelper().Action("","Home","GetPermissionListPage")">Permissions</a></li>
                            <li>
                                <a ns-action-type="simpleGetAction" href="@Url.NewsBoardUrlHelper().Action("","Home","GetUserListPage")">Utilisateurs</a>
                            </li>
                            <li ns-authorized-roles="AdminUser">
                                <a ns-action-type="simpleGetAction" href="@Url.NewsBoardUrlHelper().Action("","Home","GetUserListPage")">Utilisateurs</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" id="UserMenu">
                    <div ns-loader-url="@Url.NewsBoardUrlHelper().Action("User","UserMenu","Index")">
                        <div class='smallloader'></div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header">
        <h1 class="h1-header">News Board <small>Le premier aggrégateur <b>communautaire</b> de flux</small></h1>
    </div>

    <div class="container">
        @RenderSection("featured", required: false)
        <div class="row">
            <div class="col-md-9">
                <form action="/" method="post">
                    <section id="page" class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </form>
            </div>

            <div class="col-md-3">
                <div id="tagCloud">
                    <div ns-loader-url="@Url.NewsBoardUrlHelper().Action("Tag","TagCloud","Index")">
                        Chargement des tags ...
                        <div class='loader'></div>
                    </div>
                </div>
                <div id="suggestedFeedListAction">
                    <div ns-loader-url="@Url.NewsBoardUrlHelper().SuggestedFeedListAction">
                        Chargement des flux ...
                        <div class='loader'></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <iframe id="siteloader" style="display:none"></iframe>
</body>
</html>