@model ArticleVMList


<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Options.Heading
    </div>

    <div class="panel-body" style="padding:0px">
        <table class="table table-striped table-condensed">
            <tbody>
                @for (int i = 0; i < Model.Articles.Count; i++)
                {
                    <tr id="article-@Model.Articles[i].Id">
                        <td>@Model.Articles[i].Label</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button class="btn btn-info btn-sm"
                                        ns-action-type="simpleGetAction"
                                        ns-action-url="@Url.NewsBoardUrlHelper().Action("Article", "ArticleList", "Open", new { articleId=Model.Articles[i].Id})"
                                        type="button">
                                    Ouvrir
                                </button>
                                <button type="button" class="btn btn-sm btn-info dropdown-toggle" 
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                                </button>


                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" 
                                           ns-action-type="simpleGetAction"
                                           ns-action-url="@Url.NewsBoardUrlHelper().Action("Article", "ArticleList", "Hide", new {articleId = Model.Articles[i].Id })"
                                           type="button">
                                            Ne plus afficher cet article
                                        </a>
                                    </li>
                                    <li is-visible="Model.Articles[i].IsSubscribed">
                                        <a href="#" ns-action-url="@Url.NewsBoardUrlHelper().Action("Feed", "FeedDetails", "Subscribe", new { feedId = Model.Articles[i].FeedId })"
                                           type="button" ns-action-type="simpleGetAction">
                                            S'abonner au flux
                                        </a>
                                    </li>
                                    <li is-visible="!Model.Articles[i].IsSubscribed">
                                        <a href="#" ns-action-url="@Url.NewsBoardUrlHelper().Action("Feed", "FeedList", "Report", new {feedId = Model.Articles[i].FeedId })"
                                           type="button" ns-action-type="simpleGetAction">
                                            Rapporter une anomalie
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" ns-action-url="@Url.NewsBoardUrlHelper().Action("Feed", "FeedList", "Unsubscribe", new {feedId = Model.Articles[i].FeedId })"
                                           type="button" ns-action-type="simpleGetAction">
                                            Se desabonner
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>