@model ArticleVMList


<div class="panel panel-default">
    <div class="panel-heading">
        Articles
    </div>

    <div class="panel-body" style="padding:0px">
        <table class="table table-striped table-condensed">
            <tbody>
                @for (int i = 0; i < Model.Articles.Count; i++)
                {
                    <tr>
                        <td>@Model.Articles[i].Label</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button class="btn btn-info btn-sm"
                                        action="@Url.NewsBoardUrlHelper().Action("Article", "ArticleList", "open", new { articleId=Model.Articles[i].Id})"
                                        actiondata="" type="button" name="simpleGetAction">
                                    Ouvrir
                                </button>
                                <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                                </button>


                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" action="@Url.NewsBoardUrlHelper().Action("Article", "ArticleList", "Subscribe", new { feedId=Model.Articles[i].FeedId})"
                                           actiondata="" type="button" name="simpleGetAction">
                                            S'abonner au flux
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" action="@Url.NewsBoardUrlHelper().Action("Article", "ArticleList", "Report", new { feedId=Model.Articles[i].FeedId})"
                                           actiondata="" type="button" name="simpleGetAction">
                                            Rapporter une anomalie
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" action="@Url.NewsBoardUrlHelper().Action("Article", "ArticleList", "UnSubscribe", new { feedId=Model.Articles[i].FeedId})"
                                           actiondata="" type="button" name="simpleGetAction">
                                            Se desabonner
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>